@import "tailwindcss";

@theme {
  /* Aqui definimos as cores para o Tailwind v4 reconhecer as classes */
  --color-primary: #f59e0b;
  --color-background-dark: #0b0e14;
  --color-card-dark: #1a1f26;
  
  /* Definindo a fonte Manrope */
  --font-display: "Manrope", sans-serif;
}

/* Garante que o fundo padrão seja o escuro em todo o site */
@layer base {
  body {
    @apply bg-background-dark text-white antialiased;
  }
}